<%- include("../partials/header") %>

    <div class="container text-center" style="margin-top: 100px; width: 600px;">
        <h1>Adding a new review..</h1>

        <form action="/moviereviews" method="POST">
            <div class="container" style="width: 400px;">
                <div class="row d-flex align-content-around" style="height: 500px;">
                    <input class="form-control" type="text" name="title" placeholder="Title of Movie/TV show/Anime" />

                    <input class="form-control" type="text" name="url" placeholder="Image url" />

                    <textarea class="form-control" name="review" rows="10" placeholder="Write your review...."></textarea>

                    <input class="form-control btn btn-large btn-info" type="submit" />

                    <a href="/moviereviews" class="form-control btn btn-large btn-infopo pl-2">Go back</a
        >
      </div>
    </div>
  </form>
</div>
<%- include("../partials/footer") %>