</div>
<!-- jquery CDN -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- Botstrap css file CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Semantic js file CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<!-- Axios CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--Multi-Step-Form js file -->
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.validate.unobtrusive.min.js"></script>
<script src="js/multi-step-form.js"></script>
<script type="text/javascript">
    AOS.init();
    // $(".msf:first").multiStepForm({
    //     activeIndex: 0,
    //     allowClickNavigation: true,
    //     allowUnvalidatedStep: false,
    //     hideBackButton: false,
    //     validate: {
    //         rules: {
    //             name: "required",
    //             email: {
    //                 required: true,
    //                 email: true
    //             }
    //         }
    //     }
    // });

    // $(document).on("msf:viewChanged", function(event, data) {
    //     var progress = Math.round((data.currentIndex / data.totalSteps) * 100);
    //     $(".progress-bar").css("width", progress + "%").attr('aria-valuenow', progress);
    // });

    $('#next-1').on('click' , function(e){
        var movie = $('#search').val();
        if( movie.length == 0 ){
            $('#search-error').html('<h4>**This field must be filled.**</h4>');
            $('#search-error').css('color' , 'red' );
            return false ;
        }else{
            $('#search-error').html('');
        } 
        $('#form-1').css("left" , "-120%");
        $('#form-2').css("left" , "5%");
        $('#progress').css("width" , "100%");
    });

    $('#back-1').on('click' , function(){
        $('#form-1').css("left" , "5%");
        $('#form-2').css("left" , "120%");
        $('#progress').css("width" , "50%");
    });

    $('#submit-1').on('click', function(){
        var review = $('#review-info').val();
        if( review.length <= 10 ){
            $('#review-error').html('<h4>** Review is too short! **</h4>');
            $('#review-error').css('color' , 'red' );
            return false ;
        }else{
            $('#review-error').html('');
        }  
    })

    function playVideo(link){
        $('#video-player').css( 'display' , 'block');
        $('iframe').attr('src' , link );
        $('body').style('opacity' , '0.5' );
    };

    $('#close-btn').on( 'click' , () => {
        $('#video-player').css( 'display' , 'none');
        $('iframe').attr('src' , 'mute' );
    });

</script>
<!-- Owl Carousel Js -->
<script src="js/owl.carousel.min.js"></script>
<!-- Custom Js file -->
<script type="module" src="/js/main.js"></script>
</body>

</html>