<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BETA REVIEWS</title>
    <!-- Site Favicon -->
    <link rel="shortcut icon" type="image/png" href="/images/Beta-Review.png" />
    <!-- Bootstrap Css CDN File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Semantic Css CDN File -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Anton&family=Architects+Daughter&family=Great+Vibes&family=Kaushan+Script&family=Sacramento&family=Bangers&display=swap" rel="stylesheet">
    <!--Multi-Step-Form css file-->
    <link rel="stylesheet" href="styles/multi-step-form.css">
    <!-- Owl Carousel Css -->
    <link rel="stylesheet" href="styles/owl.carousel.min.css">
    <link rel="stylesheet" href="styles/owl.theme.default.min.css">
    <!-- Custom Css File -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />

</head>

<body>
    <div class="ui sidebar inverted vertical menu">
        <a href="/" class="item"> <i class="home icon"></i> Home</a>
        <a href="/reviews" class="item"> <i class="comments icon"></i> Reviews</a>
        <a href="/#add-review-form" class="item"> <i class="plus circle icon"></i> Add Review</a>
        <% if(!currentUser){ %>
            <a href="/signup" class="item"> <i class="user plus icon"></i> Sign Up</a>
            <a href="/login" class="item"><i class="user icon"></i> Login</a>
            <% }else { %>
                <div class="item">
                    <form class="geo-search-bar" action="/reviews/geolocation" method='POST'>
                        <div class="field" data-tooltip="Update Region" data-position="right center">
                            <div id="geo-search" class="ui fluid search selection dropdown">
                                <input type="hidden" name="region" required>
                                <i class="dropdown icon"></i>
                                <div class="default text">Select Country</div>
                                <div class="menu">
                                    <div class="item" data-value="ar"><i class="ar flag"></i>Argentina</div>
                                    <div class="item" data-value="au"><i class="au flag"></i>Australia</div>
                                    <div class="item" data-value="at"><i class="at flag"></i>Austria</div>
                                    <div class="item" data-value="be"><i class="be flag"></i>Belgium</div>
                                    <div class="item" data-value="br"><i class="br flag"></i>Brazil</div>
                                    <div class="item" data-value="bg"><i class="bg flag"></i>Bulgaria</div>
                                    <div class="item" data-value="ca"><i class="ca flag"></i>Canada</div>
                                    <div class="item" data-value="cn"><i class="cn flag"></i>China</div>
                                    <div class="item" data-value="co"><i class="co flag"></i>Colombia</div>
                                    <div class="item" data-value="cu"><i class="cu flag"></i>Cuba</div>
                                    <div class="item" data-value="cz"><i class="cz flag"></i>Czech Republic</div>
                                    <div class="item" data-value="eg"><i class="eg flag"></i>Egypt</div>
                                    <div class="item" data-value="fr"><i class="fr flag"></i>France</div>
                                    <div class="item" data-value="de"><i class="de flag"></i>Germany</div>
                                    <div class="item" data-value="gr"><i class="gr flag"></i>Greece</div>
                                    <div class="item" data-value="hk"><i class="hk flag"></i>Hong Kong</div>
                                    <div class="item" data-value="hu"><i class="hu flag"></i>Hungary</div>
                                    <div class="item" data-value="in"><i class="in flag"></i>India</div>
                                    <div class="item" data-value="id"><i class="id flag"></i>Indonesia</div>
                                    <div class="item" data-value="ie"><i class="ie flag"></i>Ireland</div>
                                    <div class="item" data-value="il"><i class="il flag"></i>Israel</div>
                                    <div class="item" data-value="it"><i class="it flag"></i>Italy</div>
                                    <div class="item" data-value="jp"><i class="jp flag"></i>Japan</div>
                                    <div class="item" data-value="lv"><i class="lv flag"></i>Latvia</div>
                                    <div class="item" data-value="lt"><i class="lt flag"></i>Lithuania</div>
                                    <div class="item" data-value="my"><i class="my flag"></i>Malaysia</div>
                                    <div class="item" data-value="mx"><i class="mx flag"></i>Mexico</div>
                                    <div class="item" data-value="ma"><i class="ma flag"></i>Morocco</div>
                                    <div class="item" data-value="nl"><i class="nl flag"></i>Netherlands</div>
                                    <div class="item" data-value="nz"><i class="nz flag"></i>New Zealand</div>
                                    <div class="item" data-value="ng"><i class="ng flag"></i>Nigeria</div>
                                    <div class="item" data-value="no"><i class="no flag"></i>Norway</div>
                                    <div class="item" data-value="ph"><i class="ph flag"></i>Philippines</div>
                                    <div class="item" data-value="pl"><i class="pl flag"></i>Poland</div>
                                    <div class="item" data-value="pt"><i class="pt flag"></i>Portugal</div>
                                    <div class="item" data-value="ro"><i class="ro flag"></i>Romania</div>
                                    <div class="item" data-value="ru"><i class="ru flag"></i>Russia</div>
                                    <div class="item" data-value="sa"><i class="sa flag"></i>Saudi Arabia</div>
                                    <div class="item" data-value="rs"><i class="cs flag"></i>Serbia</div>
                                    <div class="item" data-value="sg"><i class="sg flag"></i>Singapore</div>
                                    <div class="item" data-value="sk"><i class="sk flag"></i>Slovakia</div>
                                    <div class="item" data-value="si"><i class="si flag"></i>Slovenia</div>
                                    <div class="item" data-value="za"><i class="za flag"></i>South Africa</div>
                                    <div class="item" data-value="kr"><i class="kr flag"></i>South Korea</div>
                                    <div class="item" data-value="se"><i class="se flag"></i>Sweden</div>
                                    <div class="item" data-value="ch"><i class="ch flag"></i>Switzerland</div>
                                    <div class="item" data-value="tw"><i class="tw flag"></i>Taiwan</div>
                                    <div class="item" data-value="th"><i class="th flag"></i>Thailand</div>
                                    <div class="item" data-value="tr"><i class="tr flag"></i>Turkey</div>
                                    <div class="item" data-value="ae"><i class="ae flag"></i>UAE</div>
                                    <div class="item" data-value="us"><i class="us flag"></i>United States</div>
                                    <div class="item" data-value="ua"><i class="us flag"></i>Ukraine</div>
                                    <div class="item" data-value="ve"><i class="ve flag"></i>Venezuela</div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="geo-search-btn"><i class="arrow alternate circle right icon"></i></button>
                    </form>
                </div>
                <a href="#" class="item">
                        Signed In As :
                        <span style="color:#32CD32;"><%= currentUser.username %></span>
                        <i class="user circle icon"></i>
                </a>
                <a href="/logout" class="item"> <i class="power off icon"></i> Logout</a>
                <% } %>
    </div>
    <div class="pusher">
        <div class="nav">
            <div class="nav-content">
                <div class="nav-brand">
                    <a href="/">BETA REVIEW</a>
                </div>
            </div>
        </div>
        <button id="menu-toggle" class=" ui icon button">
            <i class="chevron right icon"></i>
        </button>
        <div class="flash container">
            <% if(error && error.length > 0){%>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>

                <%}%>
                    <%if(success && success.length > 0){%>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <%= success %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                        </div>
                        <%}%>
        </div>

</body>

</html>