<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BETA REVIEWS</title>
    <!-- Site Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/Beta-Review.png" />
    <!-- Bootstrap Css CDN File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Semantic Css CDN File -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <!-- Custom Css File -->
    <link rel="stylesheet" type="text/css" href="styles/style.css" />

</head>

<body>
    <div class="nav">
        <div class="nav-content">
            <div class="nav-brand">
                <a href="/">BETA REVIEW</a>
            </div>
            <button id="menu-toggle" class="ui inverted green button">
                <i class="align justify icon"></i>
            </button>
        </div>
    </div>
    <div class="ui right sidebar inverted vertical menu">
        <% if(!currentUser){ %>
            <a href="/signup" class="item">Sign Up</a>
            <a href="/login" class="item">Login</a>
            <% }else { %>
                <a href="#" class="item">
                    <h4 style="color: grey;">
                        Signed In As :
                        <span style="color:#32CD32;"><%= currentUser.username %></span>
                    </h4>
                </a>
                <a href="/logout" class="item">Logout</a>
                <% } %>
                    <div class="pusher">

                    </div>
    </div>
    <div class="container">
        <% if(error && error.length > 0){%>
            <h1 style="margin-top: 100px;">
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            </h1>
            <%}%>
                <% if(success && success.length > 0){%>
                    <h1 style="margin-top: 100px;">
                        <div class="alert alert-success" role="alert">
                            <%= success %>
                        </div>
                    </h1>
                    <%}%>
    </div>
</body>

</html>