<%- include("partials/header") %>
    <div class="background">
        <div class="foreground">
            <form id="login" action="/login" method="POST" class="ui form auth-form">
                <div class="field">
                    <label>User Name</label>
                    <input type="text" name="username" placeholder="User Name" required>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <div class="ui icon input">
                        <input id="password" type="password" name="password" placeholder="password" required>
                        <i id="togglePassword" class="eye link icon"></i>
                    </div>
                </div>
                <div class="flex-row">
                    <button class="ui inverted green button">Log In</button>
                    <a class="ui teal basic button" href="/signup">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
    </div>

    <%- include("partials/footer") %>