<%- include("partials/header") %>
    <div class="background">
        <div class="foreground">
            <form action="/login" method="POST" class="ui form">
                <div class="field">
                    <label>User Name</label>
                    <input type="text" name="user-name" placeholder="User Name">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password">
                </div>
                <div class="flex-row">
                    <button class="ui inverted green button">Log In</button>
                    <a class="ui teal basic button" href="/signup">Sign Up</a>
                </div>
            </form>
        </div>
    </div>

    <%- include("partials/footer") %>