<%- include("partials/header") %>

    <div class="container text-center" style="margin-top: 100px; width: 600px;">
        <h1>Log-in Page</h1>

        <form action="/login" method="POST">
            <div class="container" style="width: 400px;">
                <div class="row d-flex align-content-around" style="height: 200px;">
                    <input class="form-control" type="text" name="username" placeholder="User Name " />

                    <input class="form-control" type="password" name="password" placeholder="password" />

                    <input class="form-control btn btn-large btn-success" type="submit" />

                    <a href="/moviereviews" class="form-control btn btn-large btn-success pl-2">Go back</a
        >
      </div>
    </div>
  </form>
</div>
<%- include("partials/footer") %>