<%- include("partials/header") %>
    <div class="main">
        <div class="main-content">
            <h1>BETA REVIEW</h1>
            <p>Let other know your watch time experience.</p>
            <p>Sit | Watch | Review</p>
            <button class="ui inverted green button">Explore <i class="angle right icon"></i></button>
        </div>
    </div>
    <div class="review">
        <div id="item1"></div>
        <div id="item2">
            <h2>Add a review</h2>
            <div style="text-align:center">
                <input type="text" name="search" id="search" placeholder="Search movies , tv shows" class="form-control" />
            </div>
            <div class="results">
                <ul class="list-group" id="result"></ul>
            </div>
        </div>
    </div>
    <div id="post">
        <div class="post-heading">
            <h1>POPULAR REVIEWS</h1>
        </div>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="ui card">
                    <div class="image">
                        <img src="images/streaming services.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Kristy is an art director living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i> 22 Friends
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui card">
                    <div class="image">
                        <img src="images/streaming services.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Kristy is an art director living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i> 22 Friends
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui card">
                    <div class="image">
                        <img src="images/streaming services.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Kristy is an art director living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i> 22 Friends
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui card">
                    <div class="image">
                        <img src="images/streaming services.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Kristy is an art director living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i> 22 Friends
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui card">
                    <div class="image">
                        <img src="images/streaming services.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Kristy is an art director living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i> 22 Friends
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui card">
                    <div class="image">
                        <img src="images/streaming services.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Kristy is an art director living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i> 22 Friends
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui card">
                    <div class="image">
                        <img src="images/streaming services.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Kristy is an art director living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i> 22 Friends
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui card">
                    <div class="image">
                        <img src="images/streaming services.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Kristy is an art director living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i> 22 Friends
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui card">
                    <div class="image">
                        <img src="images/streaming services.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Kristy is an art director living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i> 22 Friends
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui card">
                    <div class="image">
                        <img src="images/streaming services.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Kristy is an art director living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i> 22 Friends
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui card">
                    <div class="image">
                        <img src="images/streaming services.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Kristy is an art director living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i> 22 Friends
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui card">
                    <div class="image">
                        <img src="images/streaming services.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Kristy is an art director living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i> 22 Friends
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-about">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore perferendis, eveniet voluptate iusto soluta eaque repellendus magnam voluptates voluptatibus, atque cupiditate ad expedita vero asperiores et ea voluptatum minus illo?</p>
        </div>
        <div class="footer-social-corner">
            <h1>Follow us</h1>
            <p>Let us be social</p>
            <i class="youtube icon"></i>
            <i class="linkedin icon"></i>
            <i class="google plus icon"></i>
            <i class="instagram icon"></i>
            <i class="github icon"></i>
            <i class="facebook icon"></i>
        </div>
        <div class="footer-cc">
            <h3> <i class="creative commons icon"></i> Copyright 2020 All rights are reserved | made by <span>aman-d-1-n-only</span></h3>
        </div>
    </div>
    <%- include("partials/footer") %>