<%- include("partials/header") %>
    <div class="background">
        <div class="foreground">
            <form action="/signup" method="POST" class="ui form">
                <div class="field">
                    <label>User Name</label>
                    <input type="text" name="username" placeholder="User Name">
                    <p>Hint : <span>This name will be used as your refrence to other.</span></p>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password">
                </div>
                <div class="flex-row">
                    <button class="ui inverted green button">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
    <%- include("partials/footer") %>