html,
body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --Amatic: "Amatic SC", cursive;
    --Anton: "Anton", sans-serif;
    --Arch: "Architects Daughter", cursive;
    --Great: "Great Vibes", cursive;
    --Kaushan: "Kaushan Script", cursive;
    --Sacrmento: "Sacramento", cursive;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 100px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1.5em;
}

.flash {
    float: left;
    width: 80vw;
    margin: 1rem 10vw;
    text-align: center;
}


/*.......................................Navigation Css.............................................*/

.nav {
    background-color: rgba(0, 0, 0, 1);
    height: 10vh;
    width: 100%;
}

.nav .nav-content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav .nav-content .nav-brand {
    height: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    border-right: 1px solid slategray;
}

.nav .nav-content .nav-brand a {
    color: #32cd32 !important;
}

.nav .nav-content button {
    display: block;
    margin: 1rem;
    border-radius: 100px;
}

.nav .nav-content i {
    margin: 3px !important;
}


/*......................*.................Navigation Css....................*.........................*/


/*.........................................Main Css....................................................*/

.main {
    background: linear-gradient( to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.1)), url("../images/watching1.jpg");
    height: 90vh;
    background-size: cover;
    background-position: 40% 70%;
}

.main-content {
    color: #32cd32;
    padding: 16rem 5rem;
}

.main-content p:first-of-type {
    color: grey;
}

.review {
    height: 90vh;
    margin: 10rem 0;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh;
    text-align: center;
}

.review h1 {
    text-shadow: 1px 1px 2px slategray;
}

#item1 {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url("../images/popcorn.jpg");
    background-size: cover;
}

.jumbotron {
    width: 40vw;
    margin: 30vh auto;
    height: 30vh;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    text-align: left !important;
}

.review-heading {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    padding: 1rem;
}

.review-instruction {
    grid-row: 2/3;
    grid-column: 1/2;
}

.review-instruction ul {
    display: block;
    margin: 1rem;
    list-style-type: circle;
    font-size: 1.5rem;
    line-height: 2rem;
}

#item2 {
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.msf-header {
    grid-column: 1/1;
    grid-row: 1/2;
    padding: 0 auto;
    text-align: center !important;
}

.msf-content {
    grid-column: 1/1;
    grid-row: 2/3;
}

.msf-navigation {
    grid-column: 1/1;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.msf-navigation button {
    display: block;
    border-radius: 100px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 1rem 1rem;
    width: 7rem;
    border: none;
}

#item2 #search {
    border-radius: 100px;
    height: 3rem;
    width: 35vw;
    margin: 0 auto;
    border: none;
}

#result {
    width: 35vw;
    cursor: pointer;
    overflow-y: auto;
    max-height: 40vh;
    box-sizing: border-box;
    margin: 3vh auto;
    border-radius: 10px;
}

.link-class:hover {
    background-color: #f1f1f1;
}

#item2 textarea {
    outline: none;
    padding: 1rem;
    box-shadow: 2px 2px 4px 3px grey;
    margin: 0 auto;
    width: 40vw;
    height: 60vh;
    border: none !important;
    font-size: 1.5rem;
    font-family: var(--Anton);
}

.submit-msg {
    height: 40vh;
    padding: 17vh 0;
    font-size: 2rem;
    text-align: center;
}

#post {
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 10rem;
    text-align: center;
    box-shadow: 2px 2px 3px 2px grey;
    border-radius: 5px;
    background-color: white;
}

.overview {
    height: 100%;
    padding: 1rem;
    overflow: auto !important;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.overview #def {
    font-weight: 900;
}

.overview .tag {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.overview .tag .tags {
    color: whitesmoke;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 0.4rem 1rem;
    margin: 0.4rem 0.6rem;
    border-radius: 3rem;
}

.post-heading {
    padding: 1rem 0;
}

.footer {
    background: black;
    color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 40%;
}

.footer h1 {
    color: whitesmoke;
}

.footer span {
    color: white;
}

.footer-about {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 2rem;
}

.footer-social-corner {
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 2rem;
    font-size: 20px;
}

.footer-cc {
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
    padding: 2rem 0;
}

.footer-cc {
    display: block;
}


/*.......................*..................Main Css.........................*...........................*/


/*........................................Reviews Css...................................................*/

.main-reviews {
    margin: 2rem auto;
    display: grid;
    width: 80vw;
    grid-template-columns: 80vw;
    grid-template-rows: 70vh auto;
}

.main-reviews .upcoming {
    grid-row: 1/2;
    grid-column: 1/2;
}

.news-article {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
}

.news-overlay {
    backdrop-filter: brightness(40%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
}

.news-article span {
    display: block;
    font-size: 1.5rem;
    padding: 2rem;
    color: white;
    text-shadow: 1.5px 1.5px 2px #32cd32;
}

.news-article span p {
    font-size: 1rem;
    color: #f1f1f1;
    text-shadow: none;
}

.main-reviews .allreviews {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 0;
}

.review-post {
    margin: 5rem auto;
    width: 60vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 1.4rem 5rem rgba(0, 0, 0, 0.2);
}

.review-post-img {
    height: 40vh;
    width: 30vw;
}

.review-post-img img {
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 77% 100%, 0% 100%);
}

.review-post-text {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 4rem;
    width: 40vw;
}

.review-post-info span,
.review-post-info a {
    display: block;
}

.review-post-info {
    padding: 2rem;
}

.review-post-btn {
    padding: 1rem 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #eee;
    font-size: 1rem;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    text-decoration: none;
    width: 10rem;
}

.review-post-title {
    text-transform: uppercase;
}

.review-post-btn:hover {
    background: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}


/*.......................*..................Reviews Css.........................*........................*/


/*.........................................Edit Css.................................................*/

.edit-page {
    width: 100vw;
    height: 90vh;
    background: url("../images/streaming\ services.jpg");
    background-size: cover;
    background-position: center center;
}

.edit-page-overlay {
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(40%) blur(5px);
    padding: 10vh 0;
}

.edit-form-heading {
    height: 10vh;
    width: 80vw;
    margin: 0 auto;
    border: 1px solid #eee;
    text-align: center;
    font-size: 2.5rem;
    padding: 1.8rem 0;
    background-color: #eee;
    text-shadow: 2px 2px 2px grey;
    letter-spacing: 0.3rem;
}

.edit-form {
    height: 60vh;
    width: 80vw;
    margin: 0 auto;
    border: 1px solid #eee;
    padding: 5vh;
}

.edit-textarea {
    width: 100%;
    height: 40vh;
    background: transparent;
    margin-bottom: 0.5rem;
    color: #32cd32;
    outline: none;
    border: 1px solid #eee;
    padding: 1rem;
}

.edit-form label {
    color: #eee !important;
    font-size: 1rem;
}


/*.......................*..................Edit Css.........................*........................*/


/*.......................................Authorization Css.............................................*/

.background {
    background-image: url("../images/theater.jpg");
    height: 90vh;
    background-size: cover;
    padding: 13rem 0;
}

.foreground {
    width: 400px;
    margin: 0 auto;
}

.auth-form {
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2.5px #32cd32;
}

.auth-form span {
    color: red;
}

label {
    color: #32cd32 !important;
}

.auth-form p {
    color: #32cd32;
}


/*....................*...................Authorization Css......................*.......................*/


/*.......................................Show Css.............................................*/

.show-wrapper {
    width: 100vw;
    height: 50vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: black;
    margin: 10vh 0;
}

.show-review {
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}

.show-review-img {
    height: 40vh;
    width: 15vw;
    border: 10px solid#eee;
}

img {
    height: 100%;
    width: 100%;
}

.show-description {
    width: 55vw;
    padding: 3rem;
}

.show-description span {
    display: block;
    padding: 0rem 0 1.5rem;
}

.shows-header {
    font-weight: bolder;
    color: #32cd32;
}

.main-focus-review {
    width: 80vw;
    margin: 0 auto 10vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 10vh 10vh;
    background-color: #eee;
    padding: 2rem;
}

.focus-review {
    grid-row: 1/2;
    grid-column: 1/2;
}

.focus-author {
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: right;
    padding: 1rem 0;
}

.focus-review-ctrl {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.main-focus-comment {
    width: 80vw;
    max-height: 100vh;
    overflow: auto;
    margin: 0 auto 10vh;
    padding: 2rem;
    box-shadow: 0 1.4rem 5rem rgba(0, 0, 0, 0.2);
    border: 10px solid black;
}

.main-focus-comment .comment-form {
    border: 1px solid black;
}

.main-focus-comment i {
    font-size: 1.3rem;
}

.comment-btn {
    border-radius: 0;
}

.edit-btn {
    margin: 0 1rem 0 3rem;
    display: inline-block;
    color: black;
}

.edit-cmnt-form {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.edit-cmnt-form button {
    background-color: transparent;
    border: none;
}

.edit-btn:hover {
    color: black;
}


/*.....................*..................Show Css........................*.....................*/


/*......................................View Port less than 1024px.........................................*/

@media screen and (max-width: 1024px) {
    .review-post {
        width: 60vw;
        height: 40vh;
    }
    .review-post-img {
        height: 40vh;
        width: 40vw;
    }
}


/*.....................*.................View Port less than 1024px.................*........................*/


/*......................................View Port less than 900px.........................................*/

@media screen and (max-width: 900px) {
    .review-post {
        width: 70vw;
        height: 40vh;
    }
    .review-post-img {
        height: 40vh;
        width: 50vw;
    }
}


/*.....................*.................View Port less than 900px...................*......................*/


/*......................................View Port less than 768px.........................................*/

@media screen and (max-width: 768px) {
    .nav .nav-content .nav-brand {
        padding: 20px;
    }
    .review {
        height: 180vh;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
    }
    #item1 {
        grid-row: 1/2;
        grid-column: 1/2;
        background-position: center center;
    }
    #item2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #item2 #search {
        width: 60vw;
    }
    #result {
        width: 60vw;
    }
    .jumbotron {
        width: 60vw;
    }
    textarea {
        width: 80vw;
        height: 50vh;
    }
    .news-article span p {
        display: none;
    }
    .review-post {
        width: 70vw;
        height: 40vh;
    }
    .review-post-img {
        height: 40vh;
        width: 40vw;
    }
    .review-post-info {
        padding: 1rem;
    }
    .review-post-btn {
        font-size: 0.7rem;
        padding: 0.5rem 0.8rem;
    }
    .review-post-title {
        font-size: 1.5rem;
    }
    .show-description {
        padding: 1rem;
    }
    .show-description span {
        padding: 0rem 0 0.8rem;
    }
}


/*.....................*.................View Port less than 768px...................*.....................*/


/*......................................View Port less than 750px.........................................*/

@media screen and (max-width: 750px) {
    .review-post-text {
        display: none;
    }
    .review-post {
        width: 50vw;
        height: 70vh;
        flex-direction: column;
    }
    .review-post-img {
        height: 40vh;
        width: 50vw;
    }
    .review-post-img img {
        clip-path: none;
    }
}


/*......................................View Port less than 750px.........................................*/


/*......................................View Port less than 610px.........................................*/

@media screen and (max-width: 610px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 30% 20%;
    }
    .footer-about {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .footer-social-corner {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .footer-cc {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #item2 .search-bar {
        width: 26rem;
    }
    #item2 #search {
        width: 60vw;
    }
    #result {
        width: 60vw;
    }
    .submit-msg {
        font-size: 1rem;
    }
}


/*.....................*.................View Port less than 610px......................*...................*/


/*......................................View Port less than 425px.........................................*/

@media screen and (max-width: 426px) {
    .foreground {
        width: 300px;
        margin: 0 auto;
    }
    #item2 .search-bar {
        width: 20rem;
        height: 10rem;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        margin: 1rem auto;
    }
    #item2 #search {
        width: 80vw;
    }
    #result {
        width: 80vw;
        margin: 3vh auto;
    }
    .nav .nav-content .nav-brand {
        font-size: 1rem;
    }
    .nav .nav-content i {
        margin: 0.5px !important;
    }
    .jumbotron {
        width: 80vw;
    }
    .review-instruction ul {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .review-heading {
        padding: 0.5rem;
    }
    .main-reviews {
        width: 80vw;
        grid-template-columns: 80vw;
        grid-template-rows: 40vh auto;
    }
    .news-article {
        height: 30vh;
    }
    .news-article span {
        font-size: 0.7rem;
        padding: 0.7rem;
    }
    .review-post-title {
        font-size: 1rem;
        font-weight: bold;
    }
    .review-post-btn {
        font-size: 0.5rem;
        padding: 0.5rem 0.5rem;
        width: 7rem;
    }
    .show-overview {
        display: none;
    }
    .show-review-img {
        height: 40vh;
        width: 30vw;
    }
    .show-description {
        width: 45vw;
    }
    .edit-form-heading {
        font-size: 1rem;
    }
}


/*.....................*.................View Port less than 425px...................*.....................*/


/*.....................*.................View Port less than 375px...................*.....................*/

@media screen and (max-width: 376px) {
    #date {
        display: none;
    }
    .focus-review-ctrl {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
    }
}